[submodule "cdsc_reddit"]
	path = cdsc_reddit
	url = code:cdsc_reddit
[submodule "RemembR"]
	path = RemembR
	url = git@github.com:groceryheist/RemembR.git
[submodule "pyRembr"]
	path = pyRembr
	url = git@github.com:groceryheist/pyRembr.git
[submodule "python-mwxml"]
	path = python-mwxml
	url = https://github.com/mediawiki-utilities/python-mwxml.git
[submodule "overleaf"]
	path = overleaf
	url = https://git.overleaf.com/61ce9c8d97ae7f13129c1833
