\#*\#

/__pycache__/
/beta_table.html
/bin/
/etc/
*~
/lib/
/lib64
/negbin_4_sim_pred.pdf
/negbin_sim.pdf
/notebook-exported.html
/notebook-exported.log
/notebook-exported.md
/notebook-exported.tex
/notebook-exported_files/
/notebook.md.bak
/notebook.rmd.bak
/notebook_cache/
/plots/
/pystan/
/pyvenv.cfg
/share/
/stan_code/.#var_1_pois-3.stan
/stan_compile.log
/table_beta_hat.html
/var_12_pois_fit.pdf
/notebook-woven.md
/notebook.html
/notebook_share.tar
/notebook_share/
/var_outline/resources/.Rhistory
*.aux
/var_outline/resources/auto/
*.\#*
/stan_code/stan_code
/.Rhistory
/core.*
