[submodule "cdsc_reddit"]
	path = cdsc_reddit
	url = code:cdsc_reddit
[submodule "RemembR"]
	path = RemembR
	url = git@github.com:groceryheist/RemembR.git
[submodule "pyRembr"]
	path = pyRembr
	url = git@github.com:groceryheist/pyRembr.git
